# Openweather API
OPENWEATHER_API_KEY=your_api_key_here

# SinricPro Configuration
SINRIC_APP_KEY=your_app_key_here
SINRIC_APP_SECRET=your_app_secret_here
SINRIC_RELAY1_ID=your_relay1_id_here
SINRIC_RELAY2_ID=your_relay2_id_here
SINRIC_DEVICE_ALL_ID=your_device_all_id_here

# WiFi (optional, if using WiFi Manager)
WIFI_SSID=your_ssid
WIFI_PASSWORD=your_password
